<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/content/app.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
  </head>
  <body>
    <%- include ('partials/home.ejs') %> <%- include ('partials/about_me.ejs') %> 
    <%- include ('partials/project.ejs') %> <%- include ('partials/contact_me.ejs') %>
  </body>
  <footer>
    <div class="footer-container">
    <p class="copyright">
      © copyright all rights are reserved by Syeda Mahnoor
    </p>
  </footer>
</div>
  <script src="/public/scripts/app.js"></script>
  <script src="/node_modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
</html>

